@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

body {
    background-color: #f5fdc6;
    margin: 0;
    font-family: 'Akaya Kanadaka', cursive;
}


h1{
    margin: 0;
    padding: 2em 0;
    text-align: center;
    background-color: #fe5d26;
}

.personal {
    background-color: #2a9d8f;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 3em;
    border-radius: 5px;
}

.journal-card {
    background-color: #2a9d8f;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 3em;
    border-radius: 5px;
}

.message-card {
  background-color: #2a9d8f;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 3em;
  border-radius: 5px;
}

.personal h2 {
    text-align: center;
}
.photo {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #fe5d26;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: auto;
 }

 fieldset {
    max-width: 80%;
    padding: .5em;
    margin: 4em auto;
    border: 0 none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #fa8a65;
  }
  
  fieldset input, fieldset button, fieldset select{
    box-sizing: border-box;
    padding: .2em .4em;
    margin: .2em 0;
    outline: none;
    box-shadow: none;
  }
  
  fieldset button {
    max-width: 15em;
    padding: .5em;
    margin: .3em auto;
    background-color: #fe5d26;
    border: none;
    color: cornsilk;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
  }
  
  fieldset label {
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    text-align: right;
  }
  fieldset input:focus + label {
    color: #933;
  }
  
  fieldset .formgrid {
    display: grid;
    grid-template-columns: 1fr 1em 2fr;
    grid-gap: .3em .6em;
    grid-auto-flow: dense;
    align-items: center;
  }
  
  fieldset input, fieldset button, fieldset select, fieldset textarea{
    grid-column: 2 /4;
    width: auto;
    margin: 0
  }

  fieldset textarea{
      min-height: 5em;
  }
  
 
  fieldset .alignRight {
    text-align: center;
  }